<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PhishGuard360</title>
  <link rel="stylesheet" href="../static/products.css">
</head>
<body>
  <nav class="navbar">
    <div class="logo"><b>PhishGuard360</b></div>
    <ul class="nav-links">
        <li><a href="/"><b>Home</b></a></li>
        <li><a href="/team"><b>Team</b></a></li>
        <li><a href="/contact"><b>Contact Us</b></a></li>
        <li><a href="/products"><b>Products</b></a></li>
    </ul>
  </nav>
  <div class="into">
    <b>APPLICATION FOR PHISHING DETECTION</b>
  </div>
  <div class="prod">
    <button type="download" class="prb">Download Extension</button>
    <button type="download" class="prb">Download UserGuide</button>
  </div>
  <div class="box">
    <section class="blurb">
        <p class="buzz">
            Explore AI-driven Phishing detection through our mentor-reviewed articles, research publications, and technical reports. Discover new methods in tackling Phishing, enhancing cybersecurity with dynamic threat analysis and performance optimization. Gain insights and tools to combat phishing threats.
        </p>
        <p class="boost">
            Elevate your understanding with PhishGuard360's Publication Section.
        </p>
        <br>
        <a href="https://github.com" class="big-blue">View on GitHub</a>
    </section>

    <section class="paper-party">
        <h2 class="boom">Published Papers</h2>
        <table class="gridy">
            <thead class="heady">
                <tr class="rowdy">
                    <th class="namey">Publication Name</th>
                    <th class="datey">Year</th>
                    <th class="linky">Link</th>
                </tr>
            </thead>
            <tbody class="body-bunch">
                <tr class="cell">
                    <td class="pub-name">PhishGuard360</td>
                    <td class="year">2024</td>
                    <td class="see-more"><a href="#" class="clicky">View Publication</a></td>
                </tr>
            </tbody>
        </table>
    </section>
    </div>
  <section class="features">
    <div class="feature-card">
        <h2 class="card-content">Delivers Enhanced Security</h2>
        <p class="card-content">Protect your company, customers, and employees from the potential phishing attempts.</p>
    </div>
    <div class="feature-card">
        <h2 class="card-content">Real-Time Domain Monitoring</h2>
        <p class="card-content">Enjoy continuous monitoring of one domain and immediate alerts, ensuring rapid responses to emerging threats.</p>
    </div>
    <div class="feature-card">
        <h2 class="card-content">Easy and Seamless Integration</h2>
        <p class="card-content">Seamlessly integrates into your existing email solution to ensure that no malicious links are targeting your employees.</p>
    </div>
    <div class="feature-card">
        <h2 class="card-content">User Friendly and Simple Interface</h2>
        <p class="card-content">Easy to use User Interface in the form of an Extension elevates the simplicity yet effectiveness of the product.</p>
    </div>
</section>
    <!-- Footer Section -->
    <footer>
        <div class="footer-content">
            <div class="company-info">
                <div class="social-media">
                    <a href="#" class="soc"><img src="linkedin_icon.png" alt="">LinkedIn</a>
                    <a href="#" class="soc"><img src="icon-chat.png" alt="">Chat</a>
                </div>
            </div>

            <div class="links">
                <div class="security-tools">
                    <h4>Security Tools</h4>
                    <ul>
                        <li><a href="#">Domain Monitoring</a></li>
                        <li><a href="#">Phishing URL Scanner</a></li>
                        <li><a href="#">Phishing Email Scanner</a></li>
                    </ul>
                </div>
                <div class="resource">
                    <h4>Resource</h4>
                    <ul>
                        <li><a href="#">API</a></li>
                        <li><a href="#">Glossary</a></li>
                    </ul>
                </div>
                <div class="company">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">Bolster</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="footer-bottom">© 2024 PhishGuard360</p>
    </footer>


  <script src="../static/script.js"></script>
</body>
</html>
