<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PhishGuard360</title>
  <link rel="stylesheet" href="../static/team.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo"><b>PhishGuard360</b></div>
        <ul class="nav-links">
            <li><a href="/"><b>Home</b></a></li>
            <li><a href="/team"><b>Team</b></a></li>
            <li><a href="/contact"><b>Contact Us</b></a></li>
            <li><a href="/products"><b>Products</b></a></li>
        </ul>
    </nav>
    <div class="into">
        <b>APPLICATION FOR PHISHING DETECTION</b>
    </div>
    <div class="tt">
        <section class="contain"> 
            <h2 class="head">Research Mentors</h2>
            <br>
            <div class="mentors">
                <div class="men">
                    <img src="avatar1.jpg" alt="Dr. Rajasekaran" class="photo">
                    <div>
                        <p class="team-member-name">Dr. Rajasekaran Subramanian</p>
                        <p class="team-member-role">Project Lead</p>
                    </div>
                </div>
                <div class="men">
                    <img src="avatar2.jpg" alt="T. Sai Kumar" class="photo">
                    <div>
                        <p class="team-member-name">Tanayyala Sai Kumar</p>
                        <p class="team-member-role">Principal Investigator</p>
                    </div>
                </div>
            </div>
            
        </section>
        
        <section class="contain">
            <h2 class="head">Research Team</h2>
            <br>
            <div class="interns">
                <div class="men">
                    <img src="aashish.jpg" alt="B Aashish Reddy" class="photo">
                    <div>
                        <p class="team-member-name">B Aashish Reddy</p>
                        <p class="team-member-role">Research Intern</p>
                    </div>
                </div>
                <div class="men">
                    <img src="kaustubh.jpg" alt="J L Kaustubh" class="photo">
                    <div>
                        <p class="team-member-name">J L Kaustubh</p>
                        <p class="team-member-role">Research Intern</p>
                    </div>
                </div>
                <div class="men">
                    <img src="deekshith.jpg" alt="A Deekshith reddy" class="photo">
                    <div>
                        <p class="team-member-name">A Deekshith Reddy</p>
                        <p class="team-member-role">Research Intern</p>
                    </div>
                </div>
                <div class="men">
                    <img src="gayatri.jpg" alt="V Lakshmi gayatri" class="photo">
                    <div>
                        <p class="team-member-name">V Lakshmi Gayatri</p>
                        <p class="team-member-role">Research Intern</p>
                    </div>
                </div>
                <div class="men">
                    <img src="chinmayee.jpg" alt="M Chinmayee Yasaswini" class="photo">
                    <div>
                        <p class="team-member-name">M Chinmayee Yasaswini</p>
                        <p class="team-member-role">Research Intern</p>
                    </div>
                </div>
                <div class="men">
                    <img src="nishitha.jpg" alt="CH.Nishitha Reddy" class="photo">
                    <div>
                        <p class="team-member-name">CH.Nishitha Reddy</p>
                        <p class="team-member-role">Research Intern</p>
                    </div>
                </div>
                <div class="men">
                    <img src="shanmukhi.jpg" alt="Shanmukhi shikaram" class="photo">
                    <div>
                        <p class="team-member-name">Shanmukhi Sikaram</p>
                    <p class="team-member-role">Research Intern</p>
                    </div>
                </div>
                <div class="men">
                    <img src="deekshitha.jpg" alt="T.Deekshita Reddy" class="photo">
                    <div>
                        <p class="team-member-name">T.Deekshita Reddy</p>
                    <p class="team-member-role">Research Intern</p>
                    </div>
                </div>
                <div class="men">
                    <img src="keerthana.jpg" alt="Keerthana" class="photo">
                    <div>
                        <p class="team-member-name">Keerthana</p>
                    <p class="team-member-role">Research Intern</p>
                    </div>
                </div>
                <div class="men">
                    <img src="vanshika.jpg" alt="Vanshika Thota" class="photo">
                    <div>
                        <p class="team-member-name">Vanshika Thota</p>
                    <p class="team-member-role">Research Intern</p>
                    </div>
                </div>
                <div class="men">
                    <img src="praneeth.jpg" alt="S.Praneeth Narayan" class="photo">
                    <div>
                        <p class="team-member-name">S.Praneeth Narayan</p>
                    <p class="team-member-role">Research Intern</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <div class="footer-content">
            <div class="company-info">
                <div class="social-media">
                    <a href="#" class="soc"><img src="icon-linkedin.png" alt="">LinkedIn</a>
                    <a href="#" class="soc"><img src="icon-chat.png" alt="">Chat</a>
                </div>
            </div>

            <div class="links">
                <div class="security-tools">
                    <h4>Security Tools</h4>
                    <ul>
                        <li><a href="#">Domain Monitoring</a></li>
                        <li><a href="#">Phishing URL Scanner</a></li>
                        <li><a href="#">Phishing Email Scanner</a></li>
                    </ul>
                </div>
                <div class="resource">
                    <h4>Resource</h4>
                    <ul>
                        <li><a href="#">API</a></li>
                        <li><a href="#">Glossary</a></li>
                    </ul>
                </div>
                <div class="company">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">Bolster</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="footer-bottom">© 2024 PhishGuard360</p>
    </footer>


  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
